* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ******************* 
Colors
******************* */
.white {
  color: hsl(0, 0%, 100%);
}

.gray-blue {
  color: hsl(240, 2%, 79%);
}

.gray-blue2 {
  color: hsl(237, 17%, 21%);
}

.gray-blue3 {
  color: hsl(231, 23%, 32%);
}

.dark-blue {
  color: hsl(207, 13%, 34%);
}

.dark-blue2 {
  color: hsl(240, 10%, 16%);
}

.dark-blue3 {
  color: hsl(208, 49%, 24%);
}

.red {
  color: hsl(356, 100%, 66%);
}

.light-red {
  color: hsl(355, 100%, 74%);
}

.light-red2 {
  color: hsl(13, 100%, 72%);
}

/* ******************* 
General
******************* */
body {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
  height: 100vh;
}

h2 {
  width: 200px;
  margin: 50px auto 20px auto;
}

h4 {
  color:hsl(0, 0%, 100%);
  margin: 40px 0;
}


p {
  color:hsl(240, 10%, 16%);
  font-size: 0.9rem;
  line-height: 25px;
  width: 273px;
  margin: 0 auto;
}

ul li {
  list-style-type: none;
  margin: 15px;
}

a {
  text-decoration: none;
  color:hsl(240, 2%, 79%);
}

/* ******************* 
Nav
******************* */
#header {
  background: url(images/bg-pattern-intro.svg);
  background-color:hsl(13, 100%, 72%);
  background-repeat: no-repeat;
  background-size: 1300px;
  background-position: 33% 30%;
  border-bottom-left-radius: 100px;
  height: 600px;
  width: 100%;
  text-align: center;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 0 100px 0;
  width: 300px;
}

.logo img {
  width: 80px;
}

.header-content {
  color:hsl(0, 0%, 100%);
  font-family: 'Overpass', sans-serif;
  width: 290px;
  margin: 0 auto;
}

.header-content h4 {
  font-weight: 100;
  margin-top: 15px;
  margin-bottom: 50px;
}

.btn {
  background: rgba(255, 255, 255,0);
  border: 1px solid #fff;
  border-radius: 25px;
  color:hsl(0, 0%, 100%);
  cursor: pointer;
  width: 115px;
  padding: 10px 10px;
  font-weight: 600;
  margin: 0 5px;
}

.btn:hover {
  background:hsl(0, 0%, 100%);
  color:hsl(356, 100%, 66%);
}

/* ******************* 
Main: 
Top
******************* */
.top {
  color:hsl(208, 49%, 24%);
  display: flex;
  flex-direction: column;
  font-family: 'Overpass', sans-serif;
  font-weight: 300;
  text-align: center;
  margin: 100px auto;
  width: 300px;
}

.top h2 {
  margin-bottom: 50px;
}

.top-img img {
  width: 300px;
}

/* ******************* 
Main: 
Mid
******************* */
.mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mid img {
  width: 300px;
  margin-bottom: -160px;
}

.mid-content {
  font-family: 'Overpass', sans-serif;
  color:hsl(0, 0%, 100%);
  background: url(images/bg-pattern-circles.svg);
  background-color:hsl(237, 17%, 21%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -240px;
  background-position-x: -70px;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  height: 100%;
  padding: 100px 50px;
  z-index: -1;
}

.mid-content h1 {
  margin: 50px 0 20px 0;
}

.mid-content p {
  line-height: 25px;
  font-size: 0.8rem;
  color:hsl(240, 2%, 79%);
  width: 232px;
  margin: 0 auto;
}

/* ******************* 
Main: 
Bottom
******************* */
.bottom img {
  width: 400px;
}

.bottom-content {
  text-align: center;
  font-family: 'Overpass', sans-serif;
  color:hsl(208, 49%, 24%);
}


/* ******************* 
Footer
******************* */
#footer {
  display: flex;
  flex-direction: column;
  background:hsl(240, 10%, 16%);
  text-align: center;
  border-top-right-radius: 80px;
}

#footer .logo {
  margin-top: 60px;
}   

#footer .logo img {
  width: 100px;
}

.footer-content {
  margin: 30px 0 60px 0;
}